<header class="site-header" role="banner">
	<div class="logo">
		<a href="{{ site.baseurl }}/">
			<img class="logo-image" src="{{ site.baseurl}}/img/3coasts_logo.png" alt="3coasts"/>
			<img class="logo-name" src="{{ site.baseurl}}/img/3coasts_name.png" alt="3coasts"/>
		</a>
	</div>
	<div id="site-navicon" class="navicon">
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
	<nav role="navigation" id="site-menu" class="site-nav">
		<ul class="no-list">
            <li><a href="{{ site.baseurl}}/about"><img src="{{ site.baseurl}}/img/icon_team.svg" alt="about us icon"/><span>About Us</span></a></li>
            <li><a href="{{ site.baseurl}}/projects"><img src="{{ site.baseurl}}/img/icon_laptop.svg" alt="projects icon"/><span>Projects</span></a></li>
            <li><a href="{{ site.baseurl}}/jobs"><img src="{{ site.baseurl}}/img/icon_code.svg" alt="jobs icon"/><span>Jobs</span></a></li>
            <li><a href="{{ site.baseurl}}/contact"><img src="{{ site.baseurl}}/img/icon_star.svg" alt="contact icon"/><span>Contact</span></a></li>
		</ul>
	</nav>
</header>