<form class="form livechat">
	<h1>Tell us about your idea.</h1>
	<fieldset>
		<label for="name">What's your name?</label>
		<input type="text" id="name" class="form-text" />
	</fieldset>
	<fieldset>
		<label for="project-name">What would you like to call this project?</label>
		<input type="text" id="project-name" class="form-text" />
	</fieldset>
	<fieldset class="check">
		<div class="terms">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus lacus nibh, id scelerisque nisi vulputate eu. Ut nulla libero, commodo vel commodo at, semper ornare nisi. Praesent semper, arcu non blandit laoreet, est arcu euismod est, sed sagittis mauris libero in ligula. Donec vitae rutrum est. In in nibh in libero fermentum mollis. Donec tristique arcu sed pharetra blandit. Morbi pulvinar elit in urna tempus, ac blandit dolor tempus. Proin imperdiet tristique risus. Cras varius dignissim pulvinar. Mauris varius consequat est, sit amet malesuada dolor ultrices tincidunt. Donec dignissim felis quis lacinia sagittis. Curabitur sed nunc elit. Suspendisse vestibulum, metus at sollicitudin auctor, dolor turpis sagittis ligula, a hendrerit nisi ante ut justo. Duis dictum lectus ipsum, congue luctus tortor imperdiet ac.</p>
			<p>In tempor, nulla et fringilla aliquam, turpis est dictum sapien, ac malesuada nisi turpis sit amet neque. Duis interdum, odio convallis faucibus rhoncus, lacus orci fringilla velit, non convallis ligula dolor vel libero. Vestibulum quis egestas nunc. Quisque a varius lacus. Donec ac pellentesque orci. Integer commodo ipsum blandit quam auctor placerat. Curabitur ut massa dolor. Praesent id turpis ut enim vehicula tempus nec ut eros. Integer pretium bibendum ipsum ac mattis. Proin a est dignissim, malesuada felis nec, porta orci. Suspendisse potenti. Morbi sollicitudin ipsum vel leo blandit, non mattis dui sollicitudin. Donec eu aliquet orci. Nam non urna quam. Sed ut rutrum risus.</p>
		</div>
		<label><input type="checkbox" /> Agree</label>
	</fieldset>
	<fieldset class="form-actions">
		<input type="submit" value="Submit" />
	</fieldset>
</form>