.page
  padding: $gutter-per

  +break-medium
    margin-left: 180px
    margin-top: 0
    max-width: 600px

    .work &
      max-width: 100%
      
  h2, h1
    padding-bottom: $gutter/4

.description

  li
    @extend .font-read
    margin-bottom: $gutter/8